services:
  # API Service: Provides RESTful endpoints for postal code data

  # frontend:
  #   build:
  #     context: ./sample/frontend
  #     dockerfile: ./sample/frontend/Dockerfile
  #   container_name: postal_frontend
  #   ports:
  #     - "3203:3203"
  #   networks:
  #     custom_network:
  #       ipv4_address: 172.20.0.3

  # MySQL Database: Stores postal code data (Primary storage)
  mysql:
    image: mysql:latest
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: mysql_root
      MYSQL_DATABASE: zip_code_db
      MYSQL_USER: mysql_user
      MYSQL_PASSWORD: u_password
      TZ: Asia/Tokyo
    ports:
      - "3204:3306"

    volumes:
      - mysql_data:/var/lib/mysql
      - ./storage/mysql/init-mysql.sql:/docker-entrypoint-initdb.d/init-mysql.sql:ro
      - ./storage/mysql/my.cnf:/etc/mysql/conf.d/my.cnf:ro

  # PostgreSQL Database: Stores postal code data (Alternative/Secondary storage)
  postgres:
    image: postgres:latest
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres_password
      POSTGRES_DB: zip_code_db
      TZ: Asia/Tokyo
    ports:
      - "3205:5432"

    volumes:
      - postgres_data:/var/lib/postgresql
      - ./storage/postgres/init-postgres.sql:/docker-entrypoint-initdb.d/init-postgres.sql:ro

volumes:
  mysql_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./storage/mysql/mysql_data
  postgres_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./storage/postgres/postgres_data
