ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/proxy-read-timeout: "30"
  hosts:
    - host: postal-converter-ja.dev.example.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

networkPolicy:
  enabled: true
  ingress:
    from:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: ingress-nginx
