{{- if .Values.secret.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "postal-converter-ja.fullname" . }}-secret
  labels:
    {{- include "postal-converter-ja.labels" . | nindent 4 }}
type: Opaque
stringData:
  POSTGRES_DATABASE_URL: {{ .Values.secret.POSTGRES_DATABASE_URL | quote }}
  MYSQL_DATABASE_URL: {{ .Values.secret.MYSQL_DATABASE_URL | quote }}
  SQLITE_DATABASE_PATH: {{ .Values.secret.SQLITE_DATABASE_PATH | quote }}
  REDIS_URL: {{ .Values.secret.REDIS_URL | quote }}
{{- end }}
