{{- if and .Values.secret.create (not .Values.externalSecret.enabled) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "postal-converter-ja.secretName" . }}
  labels:
    {{- include "postal-converter-ja.labels" . | nindent 4 }}
type: Opaque
stringData:
  POSTGRES_DATABASE_URL: {{ .Values.secret.data.POSTGRES_DATABASE_URL | quote }}
  MYSQL_DATABASE_URL: {{ .Values.secret.data.MYSQL_DATABASE_URL | quote }}
  SQLITE_DATABASE_PATH: {{ .Values.secret.data.SQLITE_DATABASE_PATH | quote }}
  REDIS_URL: {{ .Values.secret.data.REDIS_URL | quote }}
{{- end }}
