target/*
target*
worker/crawler/file/temp_assets/*
file/temp_assets/*
.env/*
.env*
.DS_Store
*.zip
*.gzip
*.tar
*.tar.gz
*.7z
*.rar
*.gz
*.bz2
*.xz
*.lz
*.lzma
*.zst
*.tzst
*.lz4
*.br
*.z
*.Z
*.lzop
*.lz4
*.lzo
*.lzip
*.lzma
*.lzf
*.lha
*.arj
*.cab
*.chm
*.iso
*.lzh
*.msi
*.rpm
*.udf
*.wim
*.xar
*.zipx
*.zoo
*.zpaq
*.zz
*.zab
*.z


